<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title><%= appname %></title>
  </head>
  <body>
    <h1><%= appname %> &#64;  <%= version %></h1>
    <h2>ERROR <%= status %> (<%= name %>)</h2>
    <p><%= message %></p>
    <% if (stack) { %>
      <p><%= stack %>></p>
    <% } %>
  </body>
</html>
