<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title><%= appname %></title>
  </head>
  <body>
    <h1><%= appname %></h1>
    <h2>Version <%= version %></h2>
    <p>Bienvenue <%= user.firstname %> <%= user.lastname.toLocaleUpperCase() %> (<%= user.user_id.toLocaleLowerCase() %>)</p>
  </body>
</html>
