<!DOCTYPE html>
<html lang="fr">
  <%- include('includes/head', { description, version} ) -%>
  <body>
    <%- include('includes/title', { appname, version} ) -%>
    <h3>ERROR <%= status %> (<%= name %>)</h3>
    <p><%= message %></p>
    <% if (stack) { %>
      <p><%= stack %>></p>
    <% } %>
  </body>
</html>
